!build/.gitkeep
*-debug.log
*-error.log
.DS_Store
.chromeUserDataDir
/.nyc_output
/dist
/tmp
/yarn.lock
build/*
credentials.json
generated
linkedin-credentials.*
config/local.*
neo4j-credentials.*
node_modules
token.json
config/dev.toml
coverage
docs/markdown/*
